@import "../../../global/globalCssVariables";
$input-margin: 10px;
.modal {
  max-width: 1000px;
  width: 1000px;
  height: 100%;
}

.model-body {
  max-width: 1000px;
  width: 1000px;
  height: 100%;
}

.modal-error {
  color: white;
  font-size: 0.8rem;
  background-color: $error-color;
  padding: 5px 10px;
  margin: 0px 20px;
  position: absolute;
  left: 0;
  font-weight: 500;
}

.modal-footer-buttons {
  display: flex;
  flex-direction: row;
  font-weight: 500;
}
