@import "../../../../../global/globalCssVariables";

.imageContent-preview {
  box-shadow: rgb(0 0 0 / 30%) 0px 2px 3px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;

  img {
    padding: 0;
    width: 100%;
    object-fit: cover;
  }
}

.imageWrapper {
  display: flex;
  width: max-content;
  flex-direction: column;
  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    font-size: 15px;
    -moz-user-select: none;
    user-select: none;
    font-family: Inter, sans-serif;
    padding: 3px 15px;
    border-radius: 5px;
    gap: 5px;
    transition: 0.3s;
    cursor: pointer;
    margin: 0;
    background-color: #f1f1f1;
    &:hover {
      background-color: #e2e8f0;
    }
  }
  .controlWrapper {
    display: flex;
    margin-right: 10px;
    flex-direction: row;
    .imageMenu {
      display: flex;
      flex-direction: row;
      gap: 5px;
      .controller {
        position: relative;
        z-index: 0;
        --number-input-stepper-width: var(--chakra-sizes-6);
        --number-input-input-padding: calc(
          var(--number-input-stepper-width) + 0.5rem
        );
      }
    }
  }

  .imageContainer {
    overflow: visible;
    position: relative;
    object-fit: cover;
    width: max-content;
    .imageResizer {
      border-radius: 100%;
      position: absolute;
      bottom: -7.5px;
      right: -7.5px;
      width: 15px;
      height: 15px;
      background-color: blue;
      opacity: 0.6;
      cursor: nwse-resize;
      transition: 0.2s;
      z-index: 3;
    }

    .image {
      width: 100%;
      height: 100%;
      overflow: hidden;
      position: relative;
    }

    .image-anchor {
      border: 2px red solid;
      position: absolute;
      cursor: pointer;
      z-index: 1;

      &.selected {
        z-index: 2;
        border: 2px blue solid;
        position: absolute;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.3);
        pointer-events: none;
      }
    }

    .image-startAnchor {
      background-color: rgba(212, 237, 218, 0.7);
      position: absolute;
      z-index: 1;
    }

    .selection {
      position: absolute;
      border: dotted black 3px;
      z-index: 1;

      .selection-close {
        cursor: pointer;
        position: absolute;
        background-color: $secondary-background-color;
        border-radius: 2px;
        opacity: 0.8;
        transition: 0.1s;
        right: 0;

        &:hover {
          opacity: 1;
          background-color: $tertiary-background-color;
        }
      }
    }

    img {
      padding: 0;
      height: 300px;
      width: 300px;
      object-fit: cover;
      object-position: 0 0;
    }
  }
}
